<div class="container">
  <!-- Services Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <h1 class="display-4 text-uppercase text-center mb-5">Rewards on Subscription</h1>
      <div class="row">
        <div class="horizontal pr-10">
          <ng-container *ngFor="let reward of rewards">
            <div class="col-lg-4 mb-2">
              <div class="bg-dark rounded text-center pt-5 mb-4">
                <h2 class="text-uppercase text-white">{{reward.rewardId}}</h2>
                <h6 class="text-uppercase text-secondary mb-5">{{reward.reward_name}}</h6>
                <div class="text-center bg-primary rounded-circle p-4 mb-2">
                  <h1 class="display-7 mb-0">
                    <small class="align-top" style="font-size: 22px; line-height: 65px;"></small>{{reward.reward_name}}
                  </h1>
                </div>
                <div class="text-center text-secondary">
                  <p>{{reward.description}}</p>
                </div>
                <div class="text-center text-secondary">
                  <a href="" class="btn btn-primary text-uppercase py-2 px-4 my-3">Get Now</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
