<div class="container">
  <!-- Services Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <h1 class="display-4 text-uppercase text-center mb-5"><span class="text-primary">Questionnaire</span> </h1>
      <h2 class="display-6 text-uppercase text-center mb-5">For Program Recommendation </h2>
      <div class="container">
        <div *ngIf="this.reconProgram != null">
          <h2 class="display-5 text-uppercase text-center mb-5">
            <span [innerHTML]="this.reconProgram.program_name"></span>
          </h2>
        </div>
        <div *ngIf="this.reconProgram == null">
        <h2 class="row display-5 text-uppercase text-center mb-5">
          {{currentQuestion.question}}
        </h2>
        <br/>
        <div class="column options">
          <div *ngIf="currentQuestion.answers.length == 0">
              <div class="input-group">
                <input type="text" class="form-control border-light" value="{{answer}}" placeholder="{{currentQuestion.question}}">
                <div class="input-group-append">
                  <button class="btn btn-primary text-uppercase px-3" (click)="onEnter(currentQuestion, answer);">Next</button>
                </div>
              </div>
            <br/><br/><br/>
          </div>
          <div *ngIf="currentQuestion.answers.length > 0">
            <div class="row" *ngFor="let answer of currentQuestion.answers" >
              <div class="option">
                <span>
                  <label [attr.for]="answer.answerId">
                    <input class="larger" id="{{answer.answerId}}" type="checkbox" [(ngModel)]="answer.selected" (change)="onSelect(currentQuestion, answer);" />
                    <h2 class="display-8 text-uppercase text-center mb-5">{{answer.answer}}</h2>
                  </label>
                </span>
              </div>
              <br/><br/><br/>
            </div>
            <button class="row btn btn-primary" (click)="onNext();">Next</button>
          </div>

        </div>
        </div>
      </div>
  </div>
</div>
